.listPage {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 100vh;
}

.listPage_content {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 30px;
}

.listPage_jobBars {
    flex-direction: column;
    display: flex;
    row-gap: 8px;
}

.listPage_pagination {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
}